@model CompanyApp.Models.Subdivision

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление записи</h1>

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <h4>Предприятия</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
             <label asp-for="subdivisionName" class="control-label">Название предприятия</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subdivisionName)
        </dd>
         <dt class = "col-sm-2">
             <label asp-for="amountSubdivision" class="control-label">Рейтинг предприятия</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amountSubdivision)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="subdivisionId"/>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Вернутся к списку</a>
    </form>
</div>
