@model SubdivisionFactView

@{
    ViewData["Title"] = "Details";
}

<h1>Детали записи</h1>

<div>
    <h4>Выполненный план работ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
             <label asp-for="subdivisionFactDate" class="control-label">Дата выполненной работы</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.subdivisionFactDate)
        </dd>
        <dt class="col-sm-2">
             <label asp-for="subdivisionFactIndex" class="control-label">Рейтинг предприятия</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.subdivisionFactIndex)
        </dd>
        <dt class="col-sm-2">
             <label asp-for="subdivision" class="control-label">Название предприятия</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.subdivision)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.subdivisionFactId">Изменить</a> |
    <a asp-action="Index">Вернутся к списку</a>
</div>
